[submodule "CerezaBAIT1B"]
	path = CerezaBAIT1B
	url = https://github.com/Cerezakarah/CerezaBAIT1B.git
[submodule "Devibar-WS101"]
	path = Devibar-WS101
	url = https://github.com/Nino-Devibar/Devibar-WS101.git
[submodule "Carillo"]
	path = Carillo
	url = https://github.com/PatrickCarillo/Carillo.git
[submodule "Namoc"]
	path = Namoc
	url = https://github.com/FLnamoc/Namoc.git
[submodule "Du-ay"]
	path = Du-ay
	url = https://github.com/Duayjerick246/Du-ay.git
